<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <style>
      @property --shape {
        syntax: "*";
        inherits: false;
      }
      .shape {
        fill: white;
        stroke: black;
      }
      g text {
        text-anchor: middle;
        alignment-baseline: middle;
        font-family: Verdana, Arial, sans-serif;
        font-size: 12px;
        fill: black;
        text-anchor: start;
        --shape: ellipse;
      }
      .edge {
        stroke: black;
        marker-end: url(#arrow);
        fill: none;
      }
      .mouseover_edge {
        stroke: red;
        stroke-width: 2;
        stroke-dasharray: 10;
        animation: dash 1s linear;
        animation-iteration-count: infinite;
      }
      @keyframes dash {
        to {
          stroke-dashoffset: -20;
        }
      }
      #settings {
          position: absolute;
          top: 10px;
          right: 25px;
          width: 155px;
          background: #e0e0e0;
      }

      .setting input[type=text] {
          width: 40px;
      }
    </style>
  </head>
  <body>
    <!-- copy of layout.svg (couldn't find a way to "import" it...) -->
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="0" height="0">
      <defs>
        <marker id="arrow" refX="10" refY="5"
                markerWidth="10" markerHeight="10" orient="auto-start-reverse"
                markerUnits="userSpaceOnUse">
          <path d="M0,0 L10,5 L0,10 L2.5,5 z"/>
        </marker>
      </defs>
    </svg>
