    <script type="module">
      import { makeBox } from './drawing.mjs'
      import { layout } from './layout.mjs'
      import { Manipulator } from './manipulator.mjs'
        
      document.querySelectorAll('svg .layout text').forEach(makeBox)
      document.querySelectorAll('svg .layout').forEach(svg => {
        layout(svg)
        new Manipulator(svg)
      })
    </script>
  </body>
</html>
