.back {
  fill: hsl(0,0%,80%);
  stroke: none;
  rx: 15;
}
g text {
  text-anchor: middle;
  alignment-baseline: middle;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  padding: 12px;
}
.edge {
  stroke: black;
  marker-end: url(#arrow);
  fill: none;
}
.mouseover_edge {
  stroke: red;
  stroke-width: 2;
  stroke-dasharray: 10;
  animation: dash 1s linear;
  animation-iteration-count: infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: -20;
  }
}
.hidden {
  visibility: hidden;
}
.info {
  width: 350px;
  height: 190px;
}
div.infobox {
  font-family: Verdana, Arial, sans-serif;
  padding: 12px;
  background: hsl(27, 90%, 80%);
}
